button.action-button {
    border: none;
    outline: none;
    background: none;
}

button.action-button svg {
    fill: gray;
}

button.action-button:hover svg {
    fill: black;
    cursor: pointer;
}

button.danger:hover svg {
    fill: crimson;
}

svg.action-icon {
    position: relative;
    top: 4px;
}
