li {
    margin-left: 1.5rem;
}

span.folder-title {
    display: block;
    width: 100%;
}

span.folder-title:hover {
    cursor: pointer;
    -webkit-box-shadow: -2px 4px 4px -4px rgba(189,189,189,1);
    -moz-box-shadow: -2px 4px 4px -4px rgba(189,189,189,1);
    box-shadow: -2px 4px 4px -4px rgba(189,189,189,1);
}
