span.is-over {
    background: lightblue;
}

li {
    margin-left: 1.5rem;
}

span.folder-title {
    display: block;
    width: 100%;
    padding: 0.25rem;
}

span.folder-title:hover {
    cursor: pointer;
    -webkit-box-shadow: -2px 4px 4px -4px lightgray;
    -moz-box-shadow: -2px 4px 4px -4px lightgray;
    box-shadow: -2px 4px 4px -4px lightgray;
}
