.is-fullheight {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    flex-direction: row;
    justify-content: stretch;
    overflow-y: auto;
}

.container {
    margin-top: 55px;
}

div.player {
    float: right;
    right: 5px;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}