div.box {
    border-radius: 0;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 1rem;
}

div.folder-list {
    max-width: 90%;
    max-height: 18em;
    overflow: scroll;
    margin: auto;
    border: 1px solid lightgray;
}

span.folder {
    padding: 0.1rem;
    display: block;
    width: 100%;
}

span.folder:hover {
    cursor: pointer;
}

span.selected {
    background: lightblue;
}
