div.track {
    padding: 0.25rem;
}

div.track.dragging {
    opacity: 0.4;
}

div.track:hover {
    -webkit-box-shadow: -2px 4px 4px -4px lightgray;
    -moz-box-shadow: -2px 4px 4px -4px lightgray;
    box-shadow: -2px 4px 4px -4px lightgray;
}

div.track:hover > span.drag-handle {
    display: inline;
}

div.track:hover > span.media-type {
    display: none;
}

span.drag-handle {
    cursor: grab;
    display: none;
}

a.track-title {
    color: inherit;
    margin-left: 0.5rem;
}

a.track-title:hover {
    text-decoration: underline;
}

button.play-button {
    background: none;
    border: none;
    outline: none;
}

button.play-button svg {
    fill: gray;
}

button.play-button.playing svg {
    fill: deepskyblue;
}

button.play-button:hover svg {
    fill: limegreen;
    cursor: pointer;
}

button.delete-button {
    background: none;
    border: none;
    outline: none;
    visibility: hidden;
}

div.track:hover button.delete-button {
    visibility: visible;
}

button.delete-button svg {
    fill: gray;
}

button.delete-button:hover svg {
    fill: crimson;
    cursor: pointer;
}
